
.mainloan {
    background: url("/images/Ocean\ Finance\ logo\ \(C\).png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.loanform {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 80%;
    align-self: center;
    display: grid;
    margin: 1%;   
    opacity: 0.85; 
    border-radius: 5px;
    border: 2px solid rgba(153, 102, 0, 0.884);
    box-shadow: 3px 3px 12px #795100, -3px -3px 12px #b97b00;
}

.loanform:hover {
    opacity: 0.95; 
    border-radius: 3px;
    border: 2px solid rgba(153, 102, 0, 0.884);
    box-shadow: 5px 5px 16px #795100d8, -5px -5px 16px #b97b00d8;
    transition: all 0.5s ease-in-out;
}

.loanform>div {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 78%;
    gap: 2%;
}

.loanform>div>label {
    width: 100%;
    display: flex;
    grid-template-columns: 80%;
    align-items: center;
    justify-content: center;  
    text-overflow: clip;
    color:rgba(0, 0, 51, 1);
    text-align: center;
    font-weight: bold;
}

.loanform>div>input {
    width: 95%;
    height: 50%;
    border-radius: 25px;
    display: flex;
    grid-template-columns: 80%;
    align-items: center;
    justify-content: center;  
    border: 2px solid rgba(153, 102, 0, 0.884);
    color:rgba(0, 0, 51, 1) ;
}

.loanform>.divbtn {
    position: relative;
    width: 95%;
    height: 50%;
    border-radius: 25px;
    display: flex;
    grid-template-columns: 80%;
    align-items: center;
    justify-content: center;  
}

.loanform>.divbtn>button {
    width: 50%;
    height: 100%;
    border-radius: 25px;
    border: 2px solid rgba(153, 102, 0, 0.884);
    color: white;
    background-color: rgba(0, 0, 51, 1);
}