body {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 100%;
    width: 100%;
    height: 100%;
}

p {
    background-color: black;
    color: white;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.5;
}

.img2 {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    bottom: -11.5%;
    height: 50%;
    border: 13% white solid;
}
p:hover {
    background-color: black;
    color: white;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    opacity: 1;
}

.title {
    color: red;
    background-color: black;
    opacity: 50%;

}

.title:hover {
    color: red;
    background-color: black;
    opacity: 80%;
}


.subtitle {
    color: blue;
}

#contact-us {
    background-color: beige;
    opacity: 0.8;
}

.img1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
  
}

form {
    position: absolute;
    width: 61%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 15px whitesmoke;
    font-size: 200%;
    background-color: radial-gradient(rgba(245, 245, 245, 0.308),black);
    opacity: 0.5;

    font-family: monospace;
    margin: 0;
    padding: 0;

}


/* form:hover {
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 61%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    border: 15px whitesmoke;
    font-size: 200%;
    background-color: radial-gradient(rgba(245, 245, 245, 0.308),black);
    opacity: 0.9;
    border: 0.5% black solid;
    border-radius: 10%;

    font-family: monospace;
} */