<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link href="./assets/fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet">
        <title>Amazona</title>

    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a href="index.html" class="brand">Amazona</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product">
                            <!-- image size : 680px by 830px -->
                            <img class="medium" src="./images/p6.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Nike Slim Shirts</h2></a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div> 
                    <div class="card">
                        <a href="product">
                            <!-- image size : 680px by 830px -->
                            <img class="medium" src="./images/p6.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Nike Slim Shirts</h2></a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div> 
                    <div class="card">
                        <a href="product">
                            <!-- image size : 680px by 830px -->
                            <img class="medium" src="./images/p6.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Nike Slim Shirts</h2></a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div> 
                    <div class="card">
                        <a href="product">
                            <!-- image size : 680px by 830px -->
                            <img class="medium" src="./images/p6.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Nike Slim Shirts</h2></a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div> 
                    <div class="card">
                        <a href="product">
                            <!-- image size : 680px by 830px -->
                            <img class="medium" src="./images/p6.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Nike Slim Shirts</h2></a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div> 
                    <div class="card">
                        <a href="product">
                            <!-- image size : 680px by 830px -->
                            <img class="medium" src="./images/p6.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Nike Slim Shirts</h2></a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div> 
                    <div class="card">
                        <a href="product">
                            <!-- image size : 680px by 830px -->
                            <img class="medium" src="./images/p6.jpg" alt="product">
                        </a>
                        <div class="card-body">
                            <a href="product.html"><h2>Nike Slim Shirts</h2></a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">
                                $120
                            </div>
                        </div>
                    </div> 
                </div>
            </main>
            <footer class="row center">
                All rights reserved
            </footer>
        </div>
    </body>
</html>