 


h4:hover {
    background-color: red;
    transition-property: transform;
    transition-duration: 1200ms;
    transition-timing-function: ease-in;
    transition-delay: 50ms;
    transform: scale(1, 0);
    transform-origin: top center;
    }

h4 {
    background-color: rgba(255, 0, 0, 0.414);
    transition-property: transform;
    transition-duration: 1200s;
    transition-timing-function: linear;
    transition-delay: 1s;
    transform: scale(1, 1);
    } 

    div {
        color: #ff0000;
        border: 1px solid #00ff00;
        border-radius: 0;
        transform: scale(1) rotate(0deg);
        opacity: 1;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
        width: 50%;
        padding: 100px;
    }
/* 
    div:hover {
        color: #000000;
        border: 5px dashed #000000;
        border-radius: 10%;
        transform: scale(2) rotate(-10deg);
        opacity: 0.5;
        box-shadow: -3px -3px rgba(255, 0, 0, 0.5);
        width: 100px;
        padding: 20px;
        } */

.divalltrans:hover {
    color: #ff0000;
    border: 1px solid #00ff00;
    border-radius: 0;
    transform: scale(1) rotate(0deg);
    opacity: 1;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    width: 50px;
    padding: 100px;
    transition-property: color, border, border-radius, transform, opacity,
    box-shadow, width, padding;
    transition-duration: 1s;
}

/* 
Or to transition all elements 

div {
color: #ff0000;
border: 1px solid #00ff00;
border-radius: 0;
transform: scale(1) rotate(0deg);
opacity: 1;
box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
width: 50px;
padding: 100px;
transition-property: all;
transition-duration: 1s;
}
*/

.foo:hover{
    background-color: rgba(255, 0, 0, 0.534);
    color: #00ff00;
    transition-property: color, border, border-radius, transform, opacity,
    box-shadow, width, padding;
    transition-duration: 5s;
    }
