body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333366;
}

#content {
    width: 450px;
    margin: 10px auto;
    padding: 5px 20px;
    background: white;
    border: thin solid black;
}
/* salesTaxCalculation Area */
#salesTax, #total {
    color: black;
}

#taxCalc label {
    display: block;
    width: 6em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

#taxCalc input {
    display: block;
    float: left;
}

#taxCalc br {
    clear: left;
}
