

  

body {
    /* Both container tags, <body> and <main> must be told that they are containers to flexible boxes: you need to apply the display: flex property to both of them. */
    display: flex;
    flex-direction: column;
}

a,h1 {
    color: red;
    font-weight: bold;
  }

main {
    /* Both container tags, <body> and <main> must be told that they are containers to flexible boxes: you need to apply the display: flex property to both of them. */
    display: flex;
    flex-direction: row;
    /* Ensure the <main> tag keeps an automatic height and width, by applying the flex: auto property to it. */
    flex: auto;
}

article {
    /* CSS overflow-y: auto; property to both of them. */
    overflow-y: auto;
    flex: 2;
    background-color: antiquewhite;  
}

.alximg{
    top: 0;
    right: 0;
}



aside {
/* CSS overflow-y: auto; property to both of them. */
    overflow-y: auto;
    flex: 1;
    background-color: aqua;
}



.smallimage {
    position: absolute;
    top: 0;
    right: 0%;
    -webkit-border-radius: 93px; 
    border-radius: 93px; 
    background: #f4eeee;
    -webkit-box-shadow: 9px 9px 18px #b2aeae,
    -9px -9px 18px #ffffff;
    box-shadow: 9px 9px 18px #b2aeae,
    -9px -9px 18px #ffffff;
}


.smallimage:hover {
    cursor: pointer;
    background: #666464;
    -webkit-box-shadow: 9px 9px 40px #666464,
    -9px -9px 40px #ffffff;
    box-shadow: 9px 9px 40px #666464,
    -9px -9px 40px #ffffff;
}

li {
    background: #f4eeee;

}

li:hover {
    -webkit-box-shadow: 9px 9px 18px #b2aeae,
    -9px -9px 18px #ffffff;
    box-shadow: 9px 9px 18px #b2aeae,
    -9px -9px 18px #ffffff;
    height: 80px;
}

h6 {
    color: brown;
}

.article4 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.article4>div {
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    background: #f4eeee;
    -webkit-box-shadow: 9px 9px 40px #666464,
    -9px -9px 40px #ffffff;
    box-shadow: 9px 9px 40px #666464,
    -9px -9px 40px #ffffff;
    text-align: center;
    padding: 5%;
    
}

.article4>div:hover {
    -webkit-border-radius: 7px; 
    border-radius: 6px; 
}