body {
    font-family:verdana;
    color:#ff4d00;
    font-size:14pt;
    font-weight:bold;
    background-color:#678395;
 }


 div {background-color:#c1d4cc;}

 #blueBack {background-color:#c1d4cc ;}