body {
    background: #333
}

.box {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
}

.box {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    /* the name  of my animation*/
    animation-name: myanimation;
    /*How long should my animation last */
    animation-duration:4s;
    /* The delay before the transition begins */
    animation-delay: 1.5s;
    animation-iteration-count: infinite;

}

/* Defining  the rules of my animation*/

@keyframes myanimation {
    0% {background-color: grey; left: 0px; top: 0px; border-radius: 50% 0 0 0;}
    25% {background-color: red; left: 90%; top: 0px; border-radius: 0;}
    50% {background-color: greenyellow; left:90% ; top: 90%; border-radius: 50% 50% 0 0;}
    75% {background-color: blue; left: 0px; top: 90%; border-radius: 50% 50% 50% 0;}
    100% {background-color: whitesmoke; left: 0px; top: 0px; border-radius: 50%;}
}