* {
    margin: 0;
    padding: 0;

}

.html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 2000px;
    display: block;
}


.main {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(128, 128, 128, 0.576);
}

.topMain {
    background-color: white;
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 80px ;
    display: flex;
    flex-direction: row;
    top: 0;
}

.topMainLeft {
    background-color:white ;
    height: 100%;
    width: 250px;
}

.midMain {
    background-color: honeydew;
    height: 100%;
    width: 100%;
}

.midMainSidebar {
    position: absolute;
    background-color: yellowgreen; 
    width: 250px;
    height: 100%;
    top: 80px;
    /* right: 250px; */
    z-index: 2;
    transition: all 0.5s ease-in;
}

.midMainMain {
    position: relative;
    background-color: rgb(168, 25, 25);
    height: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
}



.midMainMainSidespaceHolder{
    background-color: rgb(168, 25, 25);
}

.bottomMain {
    background-color: white;
    position: relative;
    width: 100%;
    height: 240px ;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    bottom: 0;
}