<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomerce Store</title>
    <link rel="stylesheet" href="FrameStyle.css">

</head>
<body>
    <!-- START OF THE MAIN SECTION OF THE APP -->
    <div class="main" id="main">
        <div class="topMain" id="topMain">
            <div class="topMainLeft" id="topMainLeft">
                topMainLeft
            </div>
            <div class="topMainCenter">
                topMainCenter
            </div>
        </div>
        <div class="midMain" id="midMain">
            <div class="midMainSidebar" id="midMainSidebar">
                midMainSidebar
            </div>
            <div class="midMainMain" id="midMainMain">
                <div class="midMainMainSidespaceHolder" id="midMainMainSidespaceHolder">
                
                </div>
                <div class="midMainMainMain" id="midMainMainMain">
                      midMainMainMain
                </div>
            </div>
        </div>
        <div class="bottomMain" id="bottomMain">
            <div class="bottomMainLeft">
                bottomMainLeft
            </div>
            <div class="bottomMainCenter">
                bottomMainCenter
            </div>
            <div class="bottomMainRight">
                bottomMainRight
            </div>
            
        </div>
    </div>
    <!-- END OF THE MAIN SECTION OF THE APP -->
</body>
<script>


    window.addEventListener("click", (event)=>{
        toggleDisplay("midMainSidebar");
    });

    window.addEventListener("scroll", (event)=>{
        // toggleDisplay("midMainSidebar");
        console.log(event)

        
    });



    // Function to toggle between an elements display property
    function toggleDisplay(displayID) {
        var mydisplay = document.getElementById(displayID);
        var topleft = document.getElementById("topMainLeft");


        if (mydisplay.style.display == "none") {
            topleft.style.backgroundColor = "yellowgreen";
            mydisplay.style.display = "block";
        }
        else{
            topleft.style.backgroundColor = "white";
            mydisplay.style.display = "none";
        }
    }
</script>
</html>