/*
===========================
RESET
===========================
*/
:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow : #ffcc00;
    --green: #59b210;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body,input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Archivo',sans-serif;
    color: var(--black);
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width:100% ;
}



h3,h4 {
    font-weight: 500;
}

/*
=========================
Header
=========================
*/
.header {
    position: relative;
}

.container {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}



/*
=========================
Navigation
=========================
*/
.navigation {

    position: relative;
    height: 7rem;
    box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;  
}

.nav__logo {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1.6rem;
    Font-weight: 700;

}

.nav__hamburger {
    display: none;
    cursor: pointer;
}

.nav__hamburger svg {
    height: 2.3rem;
    width: 23rem;
}

.menu__top {
    display: none;
}

.nav__menu {
    width: 50%;
}

.nav__list {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}


.nav__item:not(:last-child){
    margin-right: 1.6rem;
}


/* LIST visited/LINK */
.nav__list .nav__link:link,
.nav__list .nav__link:visited
{
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black);
    transition: color .3s ease-in;

}
/* LIST HOVER */
.nav__list .nav__link:hover {
    color: var(--orange);
}

.nav__icons {
    display: flex;
    position: relative;
}

.nav__icons .icon__item svg {
    width: 1.6rem;
    height: 1.6rem;
}

.nav__icons .icon__item {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    border: 1px solid var(--black);
    border-radius: 50%;
    /* right value 0.3s */
    transition: all 0.3s ease-in-o; 
}


.nav__icons .icon__item:link,
.nav__icons .icon__item:visited{
    color: var(--black);
}

.nav__icons .icon__item:hover {
    background-color: var(--orange);
    border: 1px solid var(--black);
}

.nav__icons .icon__item:not(:last-child){
    margin-right:1.3rem;
}

.nav__icons .cart__total {
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: -6px;
    background-color: var(--orange);
    padding: .2rem .4rem;
    border-radius: 100%;
    color: var(--primaryColor);
}

/*
==========================
Navigation MediaWquery
==========================
*/

@media only screen and (max-width: 768px) {
    .nav__menu {
        position: absolute;
        top: 0;
        left: -30rem;
        width: 0;
        background-color: var(--white);
        z-index: 9990;
        height: 100%;
        transition: all 0.3s;
    }

    .nav__menu.open{
        left: 0rem;
        width:30rem;
    }

    .nav__logo {
        width: 50%;
    }

    .nav__hamburger {
        display: block;
    }

    .menu__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--orange);
        padding: 1.8rem 1rem;
    }

    .menu__top svg {
        height: 1.6rem;
        width: 1.6rem;
        fill: var(--primaryColor);

    }

    .nav__category {
        color: var(--white);
        font-size: 2.3rem;
        font-weight: 700;
    }


    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.6rem 1rem;
    }
}