
/*________________-HEAD______________________________________________*/
.head {
    background-color: #0f3460;
    padding: 10px 0;
    color: #fff;
}

.head i {
    margin-right: 10px;
}

.head label {
    margin-right: 30px;
    font-size: 13px;
}