*{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background: red;
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
}

body>.topnav {
    background-color: greenyellow;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1%
}

body>.topnav>.navigation {
    background-color: #fff;
    display: flex;
}

/* =====================================main================================================= */
body>.main {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1%;
}