{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<script src="{% static 'myfirst.js' %}"></script>
<body>

    <h1>Members</h1>

    <table border="1">
    {% for x in mymembers %}
    <tr>
        <!-- <td><a href="update/{{ x.id }}">{{ x.id }}</a></td> -->
        <td >{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
        <td><a href="delete/{{ x.id }}" >delete</a></td>
        <td><a href="update/{{ x.id }}">Update</a></td>
        <td><img src="{% static 'pineapple.jpg' %}" alt="image src here"></td>
    </tr>
    {% endfor %}
    </table>
    <p>
        <a href="add/">Add member</a>
    </p>
    <button onclick="myFunction()">Click me!</button>

</body>
</html>